/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    font-family: Overpass, Arial, Helvetica, sans-serif; 
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Start of form */
header nav {
    margin-bottom: 1rem;
}

header form input {
    width: 0.6rem;
    height: 0.6rem;
}

header form label {
    font-size: 0.8rem;
}
/* End of form */

body {
    background-color: #262839;
    margin: 0 5vw;
    margin-top: 1.5rem;
}

/* NAVIGATION BAR */
.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.navbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
}

.navbar a:hover {
    cursor: pointer;
    color: #b4b6d6;
}

.navbar a {
    font-size: 1rem;
}

.navbar span {
    font-size: 0.8rem;
}
/* END OF NAVIGATION BAR */


/* CARD */
.card-container {
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 209px;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.card-container:hover {
    opacity: .90;
}

.left p, .right p {
    color: #93abbb;
    font-size: 0.6rem;
}

.description p i, .description p{
    color: #93abbb;
    font-size: 0.6rem;
}
/* END OF CARD */


/* LEFT SIDE OF CARD */
.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.left, .cover-image {
    position: relative;
    width: 140px;
    height: 209px;
}

.info {
    background-color:rgba(31, 34, 41, 0.927);
    padding: 10px;
    width: 140px;
    position: absolute;
    text-transform: capitalize;
}

.info .title {
    color: #ffffff;
}
/* END OF LEFT SIDE OF CARD */


/* RIGHT SIDE OF CARD */
.right {
    width: 100%;
    overflow: auto;
    padding: 0.7rem;
    background-color: #1D2028;
}

.airing-rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
}

.airing-rating-container .date {
    color: #ffffff;
    font-size: 0.75rem;
}

.rating p:first-child {
    color: #ffffff;
}

.genre {
    margin-bottom: 0.4rem;
}

.genre p {
    color: #ffffff;
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background: #1D2028;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #5f6b78; 
}

::-webkit-scrollbar-thumb:hover {
    display: block;
    background: #687583; 
}
/* END OF RIGHT SIDE OF CARD */
.loading-icon {
    margin: 0 auto;
    border: 0.7rem solid #f3f3f3; /* Light grey */
    border-top: 0.7rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Start of loading icon */

/* End of loading icon */


/* for desktops */
@media screen and (min-width: 769px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .card-container {
        margin: 1rem;
    }

    .right {
        width: 250px;
    }
}

/* for smaller screen sizes */
@media screen and (max-width: 343px) {
    * {
        font-size: 1rem;
    }

    .left p, .right p{
        font-size: 0.45rem;
    }

    .airing-rating-container .date {
        font-size: 0.55rem;
    }
}